.wrap {
  margin: 94px auto 0px;
  perspective: 900px;
  perspective-origin: 50% 0%;
  display: block;
  height: 94px;
  width: 102px;
}
.cube {
        cursor: pointer;
	position: relative;
	width: 104px;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	
	transform:  rotateX(-20deg) rotateY(335deg) rotateZ(0deg) ;
	-moz-transform:  rotateX(-20deg) rotateY(335deg) rotateZ(0deg) ;
	-webkit-transform:  rotateX(-20deg) rotateY(335deg) rotateZ(0deg);
}

#rotLayer, #cubeFields {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
#rotLayer, #cubeFields {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}
.mezo, .layer, .field {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
/*  border: 4px solid #202020; */
}
.core {
    position: absolute;
    width: 104px;
    height: 104px;
    background-color: rgba(2, 2, 2, 1);
}
